<!DOCTYPE html>
   <html>
     <head>
		<!--Etiquetas del tipo de alfabeto-->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--Links de materialize y el css/less-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link type="text/css" rel="stylesheet" href="../Documents/css/materialize.css"  media="screen,projection"/>
		<link href="../Documents/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<!--Etiquetas referetes al encabezado de la página-->
		<title>Red Social</title>
		<!--Opciones de icono-->
		<link rel="shortcut icon" href="../Sources/icono2.png" type="image/png"/>
		<!--Scrips que se necesitaran-->
		<script type="text/javascript" src="../Documents/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../Documents/js/materialize.js"></script>
		<script type="text/javascript" src="../Documents/js/main.js"></script>
       <style>
       #pub
       {
         position:relative;
         top:40px;
         
       }
       #foot
       {
         position:relative;
         top:100px;
       }
       span p
       {
         position:absolute;
         left:350px;
         font-size:15px;
         display:inline;
       }
       </style>
     </head>
     <body>
     <nav>
         <div class="nav-wrapper cyan darken-1">
			<a href="#!" class="brand-logo center">B A T T L E S H I P</a>
		</div>
     </nav>
     <div id="todo">
      <div class="row">
        <div class="col s12 l10 offset-l1">
          <div class="card blue darken-1">
            <div class="card-content white-text">
              <div class="row">
                <div class="col offset-l5">
                  <img class="circle responsive-img" src="../Resources/Images/73.jpg">
                </div>
              </div>
            </div>
            <div class="card-action ">
              <div class="row">
                <div class="col offset-l2">
                  <i class="medium material-icons">contacts</i>
                </div>
                <div class="col offset-l2">
                  <i class="medium material-icons">today</i>
                </div>
                <div class="col offset-l2">
                  <i class="medium material-icons">email</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	  <div class="row">
		  <section>
				<div class="card-content right-align col l4">
						<font style="font-family:'Courier New'"><h3>Publicar?</h3></font>
				</div>
				<div class="card-content center-align col l5">
					<textarea cols="50" rows="5" placeholder="¿Qué hay de nuevo?"></textarea>
				</div>
				<div class="card-content left-align col l3">
					<button id="publicar">Publicar</button>
				</div>
		  </section>
	</div>
     <!-- <div class='row'>
          <div class='col s12 l6 offset-l3 ' id='pub'>
              <div class='card orange darken-1 z-depth-5'>
                  <div class='card-content white-text'>
                    <span class='card-title'>Usuario<p>4/5/2016 4:52</p></span>
                    <p>Esta es la publicacion que yo hice a traves de la pagina por que me gusta publicar muchas cosas todos los dias y a cualquier hora</p>
                  </div>
                  <ul class='collapsible' data-collapsible='accordion' >
    <li>
      <div onclick='collapsible()' class='collapsible-header'><i class='material-icons'>textsms</i>Comentarios</div>
      <div class='collapsible-body'><span>Eso esta muy chido man<p>4/5/2016 5:34</p></span></div>
      </li>
  </ul>
                <div class='row'>
      <form method='POST' action='adentro2.php'>
        <div class='row'>
          <div class='input-field col s6'>
            <input id='input_text' type='text' data-length='30'>
            <label for='input_text'>Comentar</label>
          </div>
        </div>
      </form>
        </div>
            </div>
        </div>
      </div>
      
</div>-->
      <footer class="white page-footer" id='foot'>
	          <div class="footer-copyright teal">
	            <div class="container white-text">
	            © 2017 Copyright Text
	            <a class="white-text right" href="http://www.prepa6.unam.mx">Preparatoria 6 Antonio Caso</a>
	            </div>
	          </div>
	 </footer>
     <script>
		var n=0;
		var i=0;
		var tex;
		var d=new Date();
		$("#publicar").click(function(){
  					$("#publicaciones").empty();
 					var d=new Date();
 					hr=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes();
  					tex=$("textarea").val();
  					if(n==0)	
  						$("#publicaciones").add("<h2>Publicaciones</h2>").appendTo(document.body);
  						console.log(hr,tex);
  						$("#foot").before("<div class='row'><div class='card orange darken-1 z-depth-5 col s12 l6 offset-l3'><div class='card-content white-text'><span class='card-title'>Usuario<p>"+hr+"</p></span><p>"+tex+"</p></div><div class='material-icons'>thumb_up</div><span id='p'>like</span><br/><br/><font color='white'><div class='row'><label for='input_text'>Comentar</label><div class='input-field col s6'><input id='input_text' type='text'><button class='comentar btn waves-effect waves-light' type='submit' name='action'>Comentar<i class='material-icons right'>send</i></button></font></div></div></div></div>");
 					
 					
 					$.ajax({
 						url:"../Programs/publicaciones.php",
 						type:"post",
 						data:{
						tex:$("textarea").val(),
						},
						success:function(resul){
 						console.log(resul);
 					}
  					});
 			});
					n=1;
					i++;
					$(".comentar").click(function(){
							var com=this.previousSibling.value;
							var el=document.createElement("div");
							l=this.parentNode.insertBefore(el,this.previousSibling);
							l.innerHTML=("<p>"+d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()+"a las "+d.getHours()+":"+d.getMinutes()+"<br/>"+com+"</p>");

					});
					$("span").click(function(){
							$("#p").append("<li>like</li>");
							$("#p").append("<li>love</li>");
							$("#p").append("<li>risa</li>");
							$("#p").append("<li>enojo</li>");
							$("li").click(function(){
								var rec=this.innerHTML;
								$("#p").empty();
								$("#p").append(rec+" <img src='../resources/images/"+rec+".gif'/>");
							});
					});
     </script>
     </body>
   </html> 