.comentarios
      {
        position:relative;
        bottom:2px;
      }
      div h1
      {
        font-size:20px;
        display:inline;
        color:red;
      }
      div span
      {
        display:inline;
      }
      #foot
      {
        position:relative;
        top:100px;
      }
      span p
      {
        position:absolute;
        left:350px;
        font-size:15px;
        display:inline;
      }
      .usuder
      {
        position:relative;
        bottom:300px;
        left:350px;
        font-size:40px;
      }